@page "/"

@using Services
@using Models

@inject StudentService StudentService
@inject InstructorService InstructorService
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>
<h1>Welcome to the Student Time Tracker App</h1>

@if (!isRegistered)
{
    <h3>Please log in or register to continue</h3>
}
else
{
    <h3>You are registered!</h3>
}

@code {
    private bool isRegistered = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isRegistered = true;
        }
    }
}