@page "/"
@{int num = 1;}

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="alerts"> 
            You have @num new Message(s)!
        </div>

        <div class="timeclock">
            <Clock></Clock>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login">
            Please Login or Register:
                <div class="loginButton">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="registerButton">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    body{
        background-image: linear-gradient(to top, rgba(254, 227, 148, 1), white);
    }

    .alerts{
        border: solid;
        text-align: center;
    }

    .login{
        margin: auto;    
        border: solid;
        text-align: center;
        justify-content: flex-end;
        width: fit-content;
        margin-top: 15%;
        margin-bottom: 20%;
        padding: 5%;
        background-color: white;
        font-size: x-large;
        color: black;
        border-radius: 10px;
        border-color: blue;
    }

    .login .loginButton{
        background-color: blue;
        color: yellow;
        border-radius: 10px;
        font-size: large;

    }

    .login .registerButton{
        font-size: medium;
    }
</style>


