@page "/"
@using System.Security.Claims   
@inject StudentTimeTrackerApp.Services.StudentService StudentService
@inject StudentTimeTrackerApp.Services.InstructorService InstructorService
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<AuthorizeView>
    <Authorized>
        @if (IsStudent) {
            <div class="timeclock">
                <Clock></Clock>
            </div>
        }
        @if (IsInstructor) {
            <h1>Hi Instructor</h1>
        }
    </Authorized>
    <NotAuthorized>
        <div class="login">
            Please Login or Register:
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    .alerts{
        border: solid;
        text-align: center;
    }
</style>

@code {
    private bool IsStudent = false;
    private bool IsInstructor = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        
        if (!string.IsNullOrEmpty(userId))
        {
            IsStudent = StudentService.UserIsStudent(userId!);
            IsInstructor = InstructorService.UserIsInstructor(userId!);
        }
    }
}
