@page "/"
@using System.Security.Claims
@inject StudentTimeTrackerApp.Services.StudentService StudentService
@inject StudentTimeTrackerApp.Services.InstructorService InstructorService
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider
@inject StudentTimeTrackerApp.Services.CourseService CourseService

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (IsStudent)
        {
            <div class="timeclock">
                <br />
                <br />
                <br />
                <Clock></Clock>
                <br />
                <br />
                <br />
                @if (isWorking == false)
                {
                    <div class="alert alert-danger mx-auto my-4" style="max-width: 600px;" role="alert">
                        @errorMessage
                    </div>
                }
                @if (success == true)
                {
                    <div class="alert alert-success mx-auto my-4" style="max-width: 600px;" role="alert">
                        Successfully joined the course!
                    </div>
                }
                <h1 class="text-center my-4">Join a Course!</h1>

                <div class="d-flex justify-content-center">
                    <div class="card shadow-sm w-100" style="max-width: 600px;">
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label" for="CouseCode">Course Code:</label>
                                    <input class="form-control" placeholder="Ex. CSCI, HIST, etc." type="text"
                                        id="CouseCode" @bind-value="CourseCode" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="CourseNum">Course Number:</label>
                                    <input class="form-control" placeholder="Ex. 4250, 1120, 4417, etc." type="number"
                                        id="CourseNum" @bind-value="CourseNum" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="SectionNum">Section Number:</label>
                                    <input class="form-control" placeholder="Ex. 001, 002, etc." type="number"
                                        id="SectionNum" @bind-value="SectionNum" />
                                </div>
                            </form>

                            <div class="text-end">
                                <button class="btn btn-success"
                                    @onclick="() => CallFindCourse(newUserId, CourseCode, CourseNum, SectionNum)">
                                    Submit
                                </button>
                            </div>
                        </div>

                        <div class="card-footer text-muted small text-end">
                            Enter the correct course details to join.
                        </div>
                    </div>
                </div>

            </div>
        }
        @if (IsInstructor)
        {
            @if (isWorking == false)
            {
                <div class="alert alert-danger mx-auto my-4" style="max-width: 600px;" role="alert">
                    @errorMessage
                </div>
            }
            @if (success == true)
            {
                <div class="alert alert-success mx-auto my-4" style="max-width: 600px;" role="alert">
                    Successfully created the course!
                </div>
            }



            <h1 class="text-center my-4">Create a Course!</h1>

            <div class="d-flex justify-content-center">
                <div class="card shadow-sm w-100" style="max-width: 600px;">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="CouseCode">Course Code:</label>
                                <input class="form-control" placeholder="Ex. CSCI, HIST, etc." type="text" id="CouseCode"
                                    @bind-value="CourseCode" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="CourseNum">Course Number:</label>
                                <input class="form-control" placeholder="Ex. 4250, 1120, 4417, etc." type="number"
                                    id="CourseNum" @bind-value="CourseNum" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="SectionNum">Section Number:</label>
                                <input class="form-control" placeholder="Ex. 001, 002, etc." type="number" id="SectionNum"
                                    @bind-value="SectionNum" />
                            </div>
                        </form>

                        <div class="text-end">
                            <button class="btn btn-success"
                                @onclick="() => CallCreateCourse(newUserId, CourseCode, CourseNum, SectionNum)">
                                Submit
                            </button>
                        </div>
                    </div>

                    <div class="card-footer text-muted small text-end">
                        All fields are required to create a course.
                    </div>
                </div>
            </div>
        }
        <br />
        <br />
        <br />
        <br />
    </Authorized>
    <NotAuthorized>
        <div class="login">
            Please Login or Register:
                <div class="loginButton">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="registerButton">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
        </div>
    </NotAuthorized>
    </AuthorizeView>

<style>
    .alerts{
        border: solid;
        text-align: center;
    }

    .login{
        margin: auto;    
        border: solid;
        text-align: center;
        margin-top: 15%;
        margin-bottom: 20%;
        padding: 5%;
        background-color: rgba(255, 255, 255, 0.795);
        font-size: xx-large;
        color: #05163C;
        border-radius: 10px;
        border-color: #05163C;
        width: fit-content;
    }

    .login .loginButton{
        background-color: #05163C;
        color: #f7fe22;
        border-radius: 10px;
        font-size: x-large;

    }

    .login .registerButton{
        font-size: medium;
    }
</style>


@code {
    private bool IsStudent = false;
    private bool IsInstructor = false;
    private string newUserId = string.Empty;
    bool isWorking = true;
    string errorMessage = string.Empty;
    bool success = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (!string.IsNullOrEmpty(userId))
        {
            IsStudent = StudentService.UserIsStudent(userId!);
            IsInstructor = InstructorService.UserIsInstructor(userId!);
            newUserId = userId;
        }
    }

    // Create a Course in Instructor View
    public string CourseCode { get; set; } = string.Empty;
    public int CourseNum { get; set; }
    public int SectionNum { get; set; }


    /// <summary>
    /// Calls the 'CreateCourse' method from the Service.
    /// </summary>
    /// <param name="newUserId">The Id of the currently logged in user.</param>
    /// <param name="courseCode">The code for the Course (i.e., CSCI, Hist, etc.)</param>
    /// <param name="courseNum">The number for the Course (i.e., 1120, 4250, etc.)</param>
    /// <param name="sectionNum">The section number for the Course.</param>
    private void CallCreateCourse(string newUserId, string courseCode, int courseNum, int sectionNum)
    {
        errorMessage = CourseService.CreateCourse(newUserId, courseCode, courseNum, sectionNum);
        if (errorMessage != string.Empty)
        {
            isWorking = false;
        } else {
            success = true;
        }
    }

    /// <summary>
    /// Calls the FindCourse function from the Course Service.
    /// </summary>
    /// <param name="newUserId">The Id of the currently logged in user.</param>
    /// <param name="courseCode">The code for the Course (i.e., CSCI, Hist, etc.)</param>
    /// <param name="courseNum">The number for the Course (i.e., 1120, 4250, etc.)</param>
    /// <param name="sectionNum">The section number for the Course.</param>
    private void CallFindCourse(string newUserId, string courseCode, int courseNum, int sectionNum)
    {
        errorMessage = CourseService.FindCourse(newUserId, courseCode, courseNum, sectionNum);
        if (errorMessage != string.Empty)
        {
            isWorking = false;
        } else {
            success = true;
        }
    }
}