@page "/messaging"
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using StudentTimeTrackerApp.Components.Account.Pages
@using StudentTimeTrackerApp.Entities
@using StudentTimeTrackerApp.Models.Entities
@using StudentTimeTrackerApp.Services
@rendermode InteractiveServer
@inject CourseService CourseService

@inject MessagePageService MPS

<PageTitle>Messaging Page</PageTitle>

@code {
    private ICollection<Course> Courses;
    private string userID = "1";
    protected override async Task OnInitializedAsync(){
        Courses = await MPS.GetCoursesByUserIdAsync(userID);
        // Courses dont seem to pulling anything not sure why?]
    }
}


<div class="row">
    <div class="column left">
        <div class="dropdown">
            <button class="dropbtn">Classes</button>
            <div class="dropdown-content">
            @if(Courses.Count() != 0){
                @foreach(Course item in Courses){
                    <a> item </a>
                }
            } else {
                <a> nada </a>
            }
                <a>One</a>
                <a>Two</a>
                <a>Three</a>
            </div>
        </div>
            <ul class="users">
            <!-- foreach users in CLASS add li object? -->
                <li> Us01 </li>
                <li> Us02 </li>
                <li> Us03 </li>
                <li> Us04 </li>
                <li> Us05 </li>
                <li> Us06 </li>
                <li> Us07 </li>
                <li> Us08 </li>
            </ul>
    </div>
    <div class="column right">
        <Chat UserName="Billy Bob"></Chat>
    </div>
</div>

<style>
    .column {
        float: left;
        border: 2px solid gray;
    }

    .left {
        width: 15%
    }

    .right {
        width: 85%
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .users{
        list-style-type: none;
        padding: 2px;
    }

    li{
        padding-bottom: 1px;
        border-bottom: 1px dashed lightgray;
        padding-top: 1px;
    }

    li:last-child{
        border-bottom: none;
    }

    .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

