@page "/messaging"
@rendermode InteractiveServer

<PageTitle>Messaging Page</PageTitle>
<h1>Messaging</h1>
<p>Wow so awesome</p>
<p>Hamburger menu with user options goes to the left</p>
<p>Messaging to the right maybe?</p>