@page "/messaging"
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using StudentTimeTrackerApp.Components.Account.Pages
@using StudentTimeTrackerApp.Entities
@using StudentTimeTrackerApp.Models.Entities
@using StudentTimeTrackerApp.Models
@using StudentTimeTrackerApp.Services
@rendermode InteractiveServer
@inject CourseService CourseService
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider


@inject MessagePageService MPS

<PageTitle>Messaging Page</PageTitle>




<div class="row">
    <div class="column left">
        <div class="dropdown">
            <button class="dropbtn">Classes</button>
            <div class="dropdown-content">
            @if(Courses.Count() != 0){
                @foreach(Course item in Courses){
                    <a> @item.GetCourseName() </a>
                }
            } else {
                <a> nada </a>
            }
            </div>
        </div>
        @if(userDTOs != null && userDTOs.Count() != 0){
            <ul class="users">
                @foreach(UserDTO user in userDTOs)
                {
                    <li><a>@user.GetFullName()</a></li>
                }
                <!-- foreach users in CLASS add li object? -->
            </ul>
        }
    </div>
    <div class="column right">


        @* <Chat UserName="Billy Bob"></Chat> *@

        @{
            if (isSelected = true)
            {
                <SignalChat User=@userId Recipient=@testRecipientId CourseId=@_CourseId></SignalChat>

            }
            else
            {
                <div>not selected</div>
            }
        }


    </div>
</div>



@code {
    private ICollection<Course> Courses;
    private ICollection<UserDTO> userDTOs;

    string? userId = string.Empty;
    string? userName = string.Empty;
    string? recipientId = string.Empty;

    // set to student1@etsu.edu , Pass123!
    string? testRecipientId = "a340066d-ebd9-49cb-9cbc-e60c50393ddc";
    private int _CourseId;
    private int testCourseId = 1;

    public bool isSelected = false;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState? authState = await AuthStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal? user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            StateHasChanged();
        }

        var courseGetter = MPS.GetCoursesByUserIdAsync(userId);
        await Task.WhenAll(courseGetter);

        Courses = courseGetter.Result;

        _CourseId = testCourseId;
        var userGetter = MPS.GetUsersByCourseIdAsync(_CourseId); 
        await Task.WhenAll(userGetter);

        userDTOs = userGetter.Result;

        isSelected = true;
    }


}


<style>
    .column {
        float: left;
        border: 2px solid gray;
    }

    .left {
        width: 15%
    }

    .right {
        width: 85%
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .users{
        list-style-type: none;
        padding: 2px;
    }

    li{
        padding-bottom: 1px;
        border-bottom: 1px dashed lightgray;
        padding-top: 1px;
    }

    li:last-child{
        border-bottom: none;
    }

    .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

