@page "/TimeSheet"
@rendermode InteractiveServer

<PageTitle>TimeSheet</PageTitle>
<h1>TimeSheet</h1>

<Clock></Clock>

<p>Wow a timesheet totally exists here wow</p>
<p>Will need to set up logging in first?</p>

<table class="table table-hover">
<tr>
    <th>Date</th>
    <th>Clock In Time</th>
    <th>Clock Out Time</th>
</tr>
<tr>
    <td> 10/15/2025 </td>
    <td> 12:00 </td>
    <td> 0:00 </td>
</tr>
</table>